<%= form_tag('/exam/doit') do %>
  <div>
    <table border="0" align="center" cellpadding="0" cellspacing="0" style="width: 700px;">
      <tbody><tr>
          <td style="height: 80px;"> </td>
        </tr>
        <tr>
          <td style="background-image: url(/images/login1.gif); height: 53px;"> </td>
        </tr>
        <tr>
          <td style="background-image: url(/images/login2.gif); height: 51px;"> </td>
        </tr>
        <tr>
          <td style="background-image: url(/images/login3.gif); height: 44px;"> </td>
        </tr>
        <tr>
          <td style="background-image: url(/images/login4.gif); height: 46px;"> </td>
        </tr>
        <tr>
          <td style="background-image: url(/images/login5.gif); height: 40px;"> </td>
        </tr>
        <tr>
          <td style="background-image: url(/images/login6.gif); height: 33px;"> </td>
        </tr>
        <tr>
          <td style="background-image: url(/images/login7.gif); height: 36px;">
            <table border="0" align="center" cellpadding="0" cellspacing="0" style="width: 700px;">
              <tbody><tr>
                  <td style="width: 150px"></td>
                  <td style="width: 220px" align="left"><input name="TestNumber" type="text" id="TestNumber" style="width:110px;"></td>
                  <td style="width: 120px" align="left"><input name="PassWord" type="password" id="PassWord" style="width:110px;"></td>
                  <td style="width: 210px" align="left"><input type="submit" name="Button1" value="登录" id="Button1"> 提交成功！</td>

                    <span id="Message" style="color:Red;"></span></td>
                </tr>
                <tr>
                  <td colspan="4">
                  </td>
                </tr>
            </tbody></table>
          </td>
        </tr>
        <tr>
          <td style="background-image: url(/images/login8.gif); height: 24px;"></td>
        </tr>
    </tbody></table>
  </div>
<% end %>
